<!DOCTYPE html>
<html ng-app>
  <head>
    <!--width属性控制设备的宽度。假设您的网站将被带有不同屏幕分辨率的设备浏览，那么将它设置为device-width可以确保它能正确呈现在不同的设备上-->
    <!--initial-scale=1.0确保网页加载时，以1:1的比例呈现，不会有任何的缩放-->
    <!--user-scalable=no 可以禁用其缩放功能，通常情况下maximum-scale=1.0与user-scalable=no一起使用。。这样禁用缩放功能后，用户只能滚动屏幕-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="utf-8">
    <title>todolist</title>
    <script src="js/angular-1.0.1.min.js" charset="utf-8"></script>
    <script src="js/jquery-2.2.0.min.js" charset="utf-8"></script>
    <script src="css/bootstrap/js/bootstrap.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <script src="js/index.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">TODOLIST</a>
        </div>
      </nav>
      <div>
        <form name="myForm" ng-controller="addTodoInfo" novalidate>
          <input type="text" name="title" class="form-control" ng-model="todoTitle" placeholder="what do you want to do">
          <br>
          <button type="button" class="btn btn-primary" ng-click="addInfo()">添加</button>
          <br>
          <br>

          <div class="panel-group">
            <div class="panel panel-default" >
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordin" href="#collapseOne">
                    2016-4-23
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <a href="#" class="list-group-item" ng-repeat="onething in todoList | orderBy:'updateTime'">
                    <span ng-show="onething.isDel" class="badge" ng-click="recInfo(onething)">rec</span>
                    <span ng-show="onething.isDel" style="color:#c7c7c7">{{onething.title}}</span>

                    <span ng-show="onething.isRec" class="badge" ng-click="delInfo(onething)">del</span>
                    <span ng-show="onething.isRec" style="color:black">{{onething.title}}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>


        </form>
      </div>
    </div>


</html>
